<link rel="stylesheet" href="lay">

<div class="footer-div">
    <div class="footer">
        <br><br><br>
        <p class="withlove" >Made with <i class="fa-solid fa-heart"></i> by Yash Sharma</p>
</div>
