<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
    <div class="container">
        <h4>Posts</h4>
    <form action="/users/createblog" id="new-post-form" method="post">
        <textarea name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
        <button type="submit" value="post">Post</button>
    </form>

    </div>
    
</body>
</html>